<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secure</title>
    <link rel="stylesheet"
          type="text/css"
          href="../../../../styles/build/index.css"/>

    <link rel="stylesheet"
          type="text/css"
          href="../../../../styles/icons/style.css"/>
</head>
<body>

<article class="dt-secure-container dt-default-theme">
    <section class="dt-secure-left-panel">

        <article class="dt-menu-container">
            <label class="dt-txt dt-txt-md dt-txt-bold dt-menu-title">Time Tracker</label>

            <section class="dt-menu-buttons">
                <button class="dt-btn dt-menu-button">
                    <span class="dt-icon-github-o"></span>
                    <label class="dt-txt dt-txt-bold">Users</label>
                </button>

                <button class="dt-btn dt-menu-button">
                    <span class="dt-icon-twitch-o"></span>

                    <label class="dt-txt dt-txt-bold">Activity</label>
                </button>

                <button class="dt-btn dt-menu-button">
                    <span class="dt-icon-twidter-o"></span>

                    <label class="dt-txt dt-txt-bold">Management</label>
                </button>
            </section>
        </article>

    </section>

    <section class="dt-secure-right-panel">
        <section class="dt-secure-right-panel-top"></section>
        <section class="dt-secure-right-panel-bottom"></section>
    </section>
</article>

</body>
</html>
