<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet"
          type="text/css"
          href="../../../../../../styles/build/index.css"/>
</head>
<body class="tt-default-theme">

<article class="tt-menu-container">
    <label class="tt-txt tt-txt-md tt-txt-bold">Time Tracker</label>

    <section class="tt-menu-buttons">
        <button class="tt-btn tt-menu-button">
            <span class="tt-icon-github-o"></span>
            <label class="tt-txt tt-txt-bold">Users</label>
        </button>

        <button class="tt-btn tt-menu-button">
            <span class="tt-icon-twitch-o"></span>

            <label class="tt-txt tt-txt-bold">Activity</label>
        </button>

        <button class="tt-btn tt-menu-button">
            <span class="tt-icon-twitter-o"></span>

            <label class="tt-txt tt-txt-bold">Management</label>
        </button>
    </section>
</article>

</body>
</html>
